/GameEditor/Debug/*.obj
/GameEditor/Debug
/GameEditor/Release
/GameEditor/UI/UI_AnimationViewerWidget.h
/GameEditor/UI/UI_Database.h
/GameEditor/UI/UI_DatabaseDialogResize.h
/GameEditor/UI/UI_DatabaseModuleAnimation.h
/GameEditor/UI/UI_DatabaseModuleAutoTile.h
/GameEditor/UI/UI_DatabaseModuleList.h
/GameEditor/UI/UI_DatabaseModuleLocalisation.h
/GameEditor/UI/UI_DatabaseModuleResource.h
/GameEditor/UI/UI_DatabaseModuleTexture.h
/GameEditor/UI/UI_DatabaseModuleTileSet.h
/GameEditor/UI/UI_IndexDialog.h
/GameEditor/UI/UI_MainWindow.h
/GameEditor/UI/UI_MapBrushWidget.h
/GameEditor/UI/UI_MapEditor.h
/GameEditor/UI/UI_MapObjectDialog.h
/GameEditor/UI/UI_MapSettings.h
/Core/Debug
/Core/Release
/GameEditor/moc_AnimationViewer.h
/GameEditor/moc_DatabaseDialogResize.h
/GameEditor/moc_DatabaseModuleAnimation.h
/GameEditor/moc_DatabaseModuleDragDrop.h
/GameEditor/moc_DatabaseModuleDragDropList.h
/GameEditor/moc_DatabaseModuleList.h
/GameEditor/moc_DatabaseModuleTexture.h
/GameEditor/moc_DatabaseModuleTile.h
/GameEditor/moc_DatabaseModuleTileSet.h
/GameEditor/moc_DatabaseWidgetBase.h
/GameEditor/moc_DatabaseWidgetResource.h
/GameEditor/moc_DatabaseWidgetRessource.h
/GameEditor/moc_DatabaseWidgetTexture.h
/GameEditor/moc_DatabaseWidgetTile.h
/GameEditor/moc_DatabaseWindow.h
/GameEditor/moc_MainWindow.h
/GameEditor/moc_ModifyView.h
/GameLauncher/Debug
/GameLauncher/Release
/Simple2D-Engine/Debug
/Simple2D-Engine/Release
*.ini
*.dll
/Simple2D-GameEditor/projects/untitled/Game/DLLs/Simple2D-Engine-DLL-Template
*.pdb
*.exe
*.ilk
/_UpgradeReport_Files/UpgradeReport.css
/_UpgradeReport_Files/UpgradeReport.xslt
/_UpgradeReport_Files/UpgradeReport_Error.png
/_UpgradeReport_Files/UpgradeReport_Information.png
/_UpgradeReport_Files/UpgradeReport_Success.png
/_UpgradeReport_Files/UpgradeReport_Warning.png
/UpgradeLog.XML
/UpgradeLog.htm
/Simple2D-GameEditor/lib
*.log
/GameEditor_d.psess
/GameEditor_d130627.vsp
/GameEditor_d130712.vsp
/GameLauncher/ClassDiagram1.cd
/GameLauncher/GameLauncher.aps
/GameLauncher/GameLauncher.rc
/GameLauncher/GameLauncher.vcxproj.user
/GameLauncher_d.psess
/GameLauncher_d1.psess
/GameLauncher_d130712.vsp
/Performance1.psess
/Simple2D-Engine.ncb
/Simple2D-Engine.sdf
/Simple2D-Engine.suo
/Simple2D-Engine.v11.suo
/Simple2D-Engine/ClassDiagram.cd
*.lib
/Backup
/Core/ClassDiagram1.cd
/Core/Core.vcproj.anti-freak-PC.anti-freak.user
/Core/vpproject/Core.vpp
/GameEditor/*.pro
/GameEditor/GameEditor.pro.user
/GameEditor/GameEditor.pro.user.53581c2
/GameEditor/GameEditor.rc
/GameEditor/GameEditor.vcproj.anti-freak-PC.anti-freak.user
/.gitignore

/*.opensdf
/GameEditor/moc_MapEditorModuleTiles.h
/GameEditor/moc_MapEditorWidgetEditor.h
/WorldObject.txt

/GameEditor/UI/UI_MapEditorWidget.h
/GameEditor/moc_AbstractPrototypeTable.h
/GameEditor/moc_MapEditorDialogMapSettings.h
/GameEditor/moc_MapTree.h
/GameEditor/UI/UI_MapEditorDialogMapSettings.h
/GameEditor/UI/UI_MapEditorModuleContent.h
/GameEditor/moc_MapEditorModuleContent.h
/GameEditor/moc_MapEditorModuleMapTree.h
/GameEditor/UI/UI_MapEditorModuleBrush.h
/GameEditor/moc_MapEditorWidgetBrush.h
/GameEditor/moc_MapEditorModuleTileSelection.h
/GameEditor/moc_MapEditorModuleTileSets.h

/GameEditor/moc_MapEditorModuleBrush.h
/GameEditor/moc_MapViewer.h
/GameEditor/moc_DatabaseWidgetWorldObject.h
/GameEditor/x64/Debug
/GameLauncher/x64/Debug
/Simple2D-Engine/moc_VisualViewer.h
/Simple2D-Engine/x64/Debug

/Simple2D-Engine/x64/Release/*.obj
/Simple2D-Engine/x64/Release/*.tlog
/Simple2D-Engine/x64/Release/Simple2D-Engine.lastbuildstate
/GameEditor/moc_DatabaseModuleVisualViewer.h
/GameEditor/moc_DatabaseModuleWorldObjectAnimation.h
/GameEditor/moc_DeactivatedTabWidget.h
/GameEditor/moc_MappingObject.h
/*.suo
/GameEditor/x64/Release
/GameLauncher/x64/Release
